{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Employee app" content=" new django app">
  <meta name="beshoy" content="">
  <title>Employee </title>
  {% include 'css.html' %}
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home'%}">Employee</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Employee App</span>
          </a>
        </li> 
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'create'%}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Create Employee</span>
          </a>
        </li> 
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
     
       
        <li class="nav-item">
          <form class="form-search" method='get' action="{% url 'search' %}" endpoint="{% url 'sarch_api' %} ">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for..." name='q'>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
     
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <div class="row" >
        <div class="col">
     
   
      {% block content %} {% endblock %}
  



  <!-- Bootstrap core JavaScript-->
      {% include 'js.html' %}


<!-- search ajax request to improve it with django rest fram work  -->
    <script>

        $(document).ready(function(){
          if ( window.location.href.indexOf("search") != -1){
          var SearchForm = $(".form-search")
          var searchView =$("#search-view")
          var searchFor =$(".search-for")
          SearchForm.submit(function(e){
            e.preventDefault();

            var thisForm= $(this);
            var endPoint = thisForm.attr("endpoint");
            var httpMethod=thisForm.attr("method");
            var formData = thisForm.serialize();

            $.ajax({
              url: endPoint,
              method:httpMethod,
              data:formData,
              success:function(data){
                  
                  console.log("success");
                   searchView.html(" "),
                   searchFor.html(" ")
                   searchFor.html("<h3> You search for : "+data.q+"</h3>"),

                   $.each(data.employees , function(index,value){
                      searchView.prepend("<h4>  <p> Employee Full name :" + value.full_name +"</p> </h4>" +
                        "<h4>  <p> Employee id :"+ value.national_id +" </p></h4>" + "<h4>  <p> Employee position :"+ value.position  +"</p></h4>" +"<a href='"+ value.url +"' > See more detai ? </a> <br><hr>")
                   }
                    )
                  
              },
               error:function(erroData){
                  console.log("error")
              }
            })
          })



        }})


    </script>


    </div>
    </div>
    </div>
  </body>
</html>
