{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Employee app" content=" new django app">
  <meta name="beshoy" content="">
  <title>Employee </title>
  {% include 'css.html' %}
  <style>
  div {
    
    overflow: auto;; /* Enable scrolling if the sidenav has too much content */
    }
  </style>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home'%}">Employee</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Employee App</span>
          </a>
        </li> 
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Create">
          <a class="nav-link" href="{% url 'create'%}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Create Employee</span>
          </a>
        </li> 
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
     
       
        <li class="nav-item">
          <form class="form-search" method='get' action="{% url 'search' %}" endpoint="{% url 'sarch_api' %} ">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for..." name='q'>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
     
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <div class="row" >
        <div class="col">
     
   
      {% block content %} {% endblock %}
  



  <!-- Bootstrap core JavaScript-->
      {% include 'js.html' %}


<!-- search ajax request to improve it with django rest fram work  -->
    <script>

        $(document).ready(function(){
          if ( window.location.href.indexOf("search") != -1){
          var SearchForm = $(".form-search")
          var searchView =$("#search-view")
          var searchFor =$(".search-for")
          SearchForm.submit(function(e){
            e.preventDefault();

            var thisForm= $(this);
            var endPoint = thisForm.attr("endpoint");
            var httpMethod=thisForm.attr("method");
            var formData = thisForm.serialize();

            $.ajax({
              url: endPoint,
              method:httpMethod,
              data:formData,
              success:function(data){
                  
                  console.log("success");
                   searchView.html(" "),
                   searchFor.html(" ")
                   searchFor.html("<h3> You search for : "+data.q+"</h3>"),

                   $.each(data.employees , function(index,value){
                      searchView.prepend("<tr>"+
                        "<td>" + value.full_name +"</td>" +
                         "<td>"+ value.position  +"</td>" +"<td>" +"<a href='"+ value.url +"' > See more detai ? </a> " +"</td> </tr>")
                   }
                    )
                  
              },
               error:function(erroData){
                  console.log("error")
              }
            })
          })



        }})


    </script>

 <!-- work with the Deduction detailview -->
    <script>

        $(document).ready(function(){
         
              var addDeductionForm = $("#add-deduction")
              var totalDeduction = $("#total-dudcation")
              var deductionTable = $("#deduction-table")
              var inputded       = $("#id_deductions")
              var totalSalary = $("#total-salary")
              addDeductionForm.submit(function(e){
                  e.preventDefault();
                   var thisForm= $(this);
                   var endPoint = thisForm.attr("endpoint");
                   var httpMethod=thisForm.attr("method");
                   var formData = thisForm.serialize();


              $.ajax({
              url: endPoint,
              method:httpMethod,
              data:formData,
              success:function(data){
                  inputded.val("0")
                  console.log("success")
                  totalSalary.text("Total Salary :  " +data.total_salary)
                   totalDeduction.text("Total Deductions :" +data.total_dudcation)
                  deductionTable.prepend("<tr><"+"<td>"+ data.date +"</td>"+"<td>"+ data.deducation +"</td> </tr>")

              },

              error:function(erroData){
                  console.log("error")
              }


              })

              })

        


      })


    </script>

    <!-- work with the earnings detailview -->
    <script>

        $(document).ready(function(){
         
              var addEarningsForm = $("#add-earnings")
              var totalEarnings = $("#total-earnings")
              var earningTable = $("#earning-table")
              var inputder      = $("#id_earnings")
              var totalSalary = $("#total-salary")
              addEarningsForm.submit(function(e){
                  e.preventDefault();
                   var thisForm= $(this);
                   var endPoint = thisForm.attr("endpoint");
                   var httpMethod=thisForm.attr("method");
                   var formData = thisForm.serialize();


              $.ajax({
              url: endPoint,
              method:httpMethod,
              data:formData,
              success:function(data){
                  inputder.val("0")
                  console.log("success")
                  totalSalary.text("Total Salary :  " +data.total_salary)
                   totalEarnings.text("Total Earnings :" +data.total_earnings)
                  earningTable.append("<tr><"+"<td>"+ data.date +"</td>"+"<td>"+ data.earnings +"</td> </tr>")

              },

              error:function(erroData){
                  console.log("error")
              }


              })

              })

        


      })


    </script>


    </div>
    </div>
    </div>
  </body>
</html>
